name: Build Addon
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
        with:
          gradle-version: 8.10

      - name: Build with Gradle
        # gradlew dosyas覺 olmadan direkt sistem gradle'覺n覺 kullan覺r
        run: gradle build --no-daemon

      - name: Upload Artifact
        if: success()
        uses: actions/upload-artifact@v4
        with:
          name: Universal-Tracer-Addon
          path: build/libs/*.jar
          
