name: Build Addon
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
        with:
          gradle-version: 8.10.2 # Java 21'i destekleyen en güncel sürüm

      - name: Build with Gradle
        run: gradle build --no-daemon
        env:
          JAVA_HOME: ${{ env.JAVA_HOME_21_X64 }}

      - name: Upload Artifact
        if: success()
        uses: actions/upload-artifact@v4
        with:
          name: Universal-Tracer-Addon
          path: build/libs/*.jar
          
